@import url('https://fonts.googleapis.com/css2?family=Alata&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kaushan+Script&display=swap');
/* Kaushan Script | Inter black | Inter semibold | Alata */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
}
p{
    font-weight: 500;
    font-size: 1.5vw;
    max-width: 70%;
    text-align: center;
}

header{
    width: 98vw;
}
img{
    width: 98.9vw;
    object-fit: cover;
    height: 350px;
    object-position: top;
}

.seccion1{
    width: 98.9vw;
    height: 60px;
    margin-top: -4px;
    display: flex;
    flex-direction: row;
}
.line1{
    width: 25px;
    height: 100%;
    background: #00778b;
}
.line2{
    width: 15px;
    height: 100%;
    margin-left: 5px;
    background: #00778b;
}
.line3{
    width: 10px;
    height: 100%;
    margin-left: 5px;
    background: #00778b;
}
.titulo{
    display: flex;
    height: 100%;
    flex-grow: 1;
    justify-items: center;
    align-items: center;
}
h1{
    font-weight: 800;
    color: #00778b;
}
.titu1{
    margin-right: 25%;
    margin-left: 34.7%;
    font-size: 2vw;
}
.line4{
    width: 10px;
    height: 100%;
    margin-right: 5px;
    background: #00778b;
}
.line5{
    width: 15px;
    height: 100%;
    margin-right: 5px;
    background: #00778b;
}
.line6{
    width: 25px;
    height: 100%;
    background: #00778b;
}

.seccion2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.line7{
    width: 75%;
    height: 15px;
    background: #ffc72c;
    margin-bottom: 6px;
}
.line8{
    width: 75%;
    height: 10px;
    background: #ffc72c;
}

.footer1{
    background: #ffc72c;
    height: 15px;
    margin-bottom: 6px;
}
.footer2{
    background: #ffc72c;
    height: 25px;
}

@media (max-width: 1465px){
    .seccion1, .seccion2, footer, img{
        width: 98.5vw;
    }
}
@media(max-width: 1250px){
    .titu1{
        margin-right: 25%;
        margin-left: 26%;
        font-size: 26px;
    }
}
@media (max-width: 1111px){
    .seccion1, .seccion2, footer, img{
        width: 98.3vw;
    }
}
@media(max-width: 1030px){
    .titu1{
        margin-right: 25%;
        margin-left: 20%;
        font-size: 26px;
    }
}
@media (max-width: 942px){
    .seccion1, .seccion2, footer, img{
        width: 97.7vw;
    }
    p{
        font-size: 18px;
    }
    .titu1{
        margin-left: 15%;
        margin-right: 15%;
    }
}
@media(max-width: 800px){
    .titu1{
        margin-right: 0;
        margin-left: 10%;
    }
    .seccion1, .seccion2, footer, img, header{
        width: 97.7vw;
    }
}
@media (max-width: 695px){
    .titu1{
        margin-right: 0;
        margin-left: 5%;
    }
    .seccion1, .seccion2, footer, img, header{
        width: 97vw;
    }
}
@media(max-width:620px){
    .titu1{
        margin-right: 5%;
        margin-left: 15%;
        font-size: 3vw;
    }
}
@media(max-width: 533px){
    .seccion1, .seccion2, footer, img, header{
        width: 96.2vw;
    }
}